/*font body*/
body {
	font-family: 'Aclonica';
	font-size: 2em;
	color: whitesmoke;
}
/*background img*/
html{
    background: url(image_fond.jpg) no-repeat center fixed;
    background-size: cover;  
}
/*general informations*/
ul {list-style: none;}

a {
	text-decoration: none;
	color: lightskyblue;
}
h1{
	font-family: 'Teko', sans-serif;
	font-size: 4em;
	letter-spacing:0.2em;
}

#corps {
	display: flex;
}

/*header*/
header{
	display: flex;
	justify-content: space-between;
	font-size: 0.6em;
}

.photoprofile img{
	border-radius: 50%;
    border: rgba(125, 185, 246, 0.648) solid 5px;
}

.photoprofile {
	margin-top: 1%;
}




nav {
	flex: 4;
}

/*aside*/
aside {
	background-color: rgba(196, 185, 185, .1);
	flex: 1;
	height: 300px;
	padding:1%;	
	border-radius: 3%;
	text-align: center;
}

aside p{
	text-align: justify;
}

/* animation menu nav*/

#menu {
	padding: 0px;
    margin: 5% 0 10px 0;
	position: relative;
	
}

#menu li{
	font-size: 50px;
    display: block;
}

#menu li a{
	text-align: center;
	color: transparent;
	display: block;
	text-transform: uppercase;
	text-shadow: 0px 0px 4px #fff;
	letter-spacing: 1px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.bmenu:hover li a{
	text-shadow: 0px 0px 6px #fff;
}

#menu li a:hover{
	color: #fff;
	text-shadow: 0px 0px 1px #fff;
	padding-left: 10px;
}

/* animation menu nav fin */



