/*font body*/
body {
	font-family: 'Aclonica';
	color: whitesmoke;
}
/*background img*/
html{
    background: url(image_fond.jpg) no-repeat center fixed;
    background-size: cover;  
}
/*global informations*/
ul {list-style: none;}

a {
	text-decoration: none;
	color: lightskyblue;
}
h1{
	font-family: 'Teko', sans-serif;
	font-size: 2em;
	letter-spacing:0.2em;
}

/*header*/
header{
	display: flex;
	justify-content: space-between;
}

header h1{
	font-size: 3.5em; 
}

.photoprofile img{
	border-radius: 50%;
    border: rgba(125, 185, 246, 0.648) solid 5px;
}

.photoprofile {
	margin-top: 1%;
}

#section {
	display: flex;
}

/*aside*/
aside {
	background-color: rgba(196, 185, 185, .1);
	flex: 1;
	padding:1%;	
	border-radius: 5%;
	text-align: center;
	font-size: 1.2em;
	display: flex;
	flex-direction: column;
}

aside img{
	margin-top: 5%;
}

/* animation & menu nav*/

nav {
	flex: 4;		
}

#menu li{
	font-size: 1.5em;
	letter-spacing: 17px;
	margin-top: 4%;
}

#menu li a{
	color: transparent;
	text-transform: uppercase;
	text-shadow: 0px 0px 4px #fff;
	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.bmenu:hover li a{
	text-shadow: 0px 0px 6px #fff;
}

#menu li a:hover{
	color: #fff;
	text-shadow: 0px 0px 1px #fff;
	padding-left: 30px;
}

/* footer*/
footer {
	position: fixed;
	bottom: 10px;
	background:  rgba(125, 186, 246, 0.247);
	border-radius: 100% 29px 52px 57px;
}

