#menuhaut {
	display: flex;
    padding-top: 2%;
    font-size: x-large;
}


section{
    display: grid;
    grid-template-columns: 1fr 30px 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 1%;
}

#badminton{
    grid-column: 3/4;
}
#les_speculos{
    grid-column: 1/2;
}

#menuhaut li {
	padding-right: 120px;
}

article {
    background-color: rgba(232, 199, 176, 0.452);
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5%;
    font-size: 1.5em;
    color: rgb(216, 247, 244);  
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    
}

article p{
    text-align: justify;
}

article iframe {
    padding-left: auto;
    padding-right: auto;
    width: 80%;
    justify-items: center;
}






